# "JYMAG" menu entry
#
# Copyright (C) 2013-2016 Bogdan 'bogdro' Drozdowski, bogdandr # op . pl
#  License: GNU General Public License, v3+
#
#  This program is free software; you can redistribute it and/or
#  modify it under the terms of the GNU General Public License
#  as published by the Free Software Foundation; either version 3
#  of the License, or (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program; if not, write to the Free Software Foudation:
# 		Free Software Foundation
# 		51 Franklin Street, Fifth Floor
# 		Boston, MA 02110-1301
# 		USA
#

[Desktop Entry]
Type=Application
Version=1.0
Name=JYMAG
GenericName=JYMAG
Comment=Java Your Music And Grahics
Exec=java -jar $HOME/bin/JYMAG.jar
Terminal=false
NoDisplay=false
StartupNotify=true

